# Criando o data frame

In [1]:
# Importando a Biblioteca Pandas, chamando-a de "pd", para a criação de dataframes
import pandas as pd

In [2]:
# Criando o dicionário "biblioteca" para criar o dataframe
biblioteca = {
    'Título': ['1984', 'O Senhor dos Anéis', 'O Apanhador no Campo de Centeio', 'Cem Anos de Solidão', 'Dom Quixote', 'Orgulho e Preconceito'],
    'Autor': ['George Orwell', 'J.R.R. Tolkien', 'J.D. Salinger', 'Gabriel García Márquez', 'Miguel de Cervantes', 'Jane Austen'],
    'Ano de Publicação': [1949, 1954, 1951, 1967, 1605, 1813],
    'Gênero': ['Distopia', 'Fantasia', 'Ficção', 'Realismo Mágico', 'Ficção', 'Romance'],
    'Número de Páginas': [328, 1216, 277, 417, 1072, 279],
}

In [3]:
# Criando o dataframe a partir do dicionário biblioteca
biblioteca_DF = pd.DataFrame(biblioteca)

# 1 - Apresente em tela (output) toda a base de dados

In [4]:
print("Visualização do DataFrame inteiro:")
print()

# Utilizando a função print, para imprimir o dataframe por inteiro
print(biblioteca_DF)

Visualização do DataFrame inteiro:

                            Título                   Autor  Ano de Publicação  \
0                             1984           George Orwell               1949
1               O Senhor dos Anéis          J.R.R. Tolkien               1954
2  O Apanhador no Campo de Centeio           J.D. Salinger               1951
3              Cem Anos de Solidão  Gabriel García Márquez               1967
4                      Dom Quixote     Miguel de Cervantes               1605
5            Orgulho e Preconceito             Jane Austen               1813

            Gênero  Número de Páginas
0         Distopia                328
1         Fantasia               1216
2           Ficção                277
3  Realismo Mágico                417
4           Ficção               1072
5          Romance                279

# 2 - Apresente o tamanho do seu dataframe (quantas colunas x linhas)

In [5]:
# Utilizando o método shape para mostrar a quantidade de linhas e colunas que existem no DataFrame
linhas, colunas = biblioteca_DF.shape
print(f"O tamanho do DataFrame é: {linhas} linhas e {colunas} colunas")

O tamanho do DataFrame é: 6 linhas e 5 colunas

# 3 - Acesse a linha (x) e apresente em tela todas as características do item

In [6]:
"""
Linha 6 a 17
  Loop while
    Utilizando o loop while para criar um loop infinito que só será interrompido quando a condição desejada for satisfeita.

Linha 9 a 17
  Bloco try-except
    O bloco "try" tenta executar o input dentro dele. O input é utilizado para solicitar ao usuário a inserção de um valor.
    A função int() tenta converter o valor para um número inteiro. Se não for possível (por exemplo, se for uma string ou um número decimal),
    um "ValueError" será lançado. Para que o programa não feche, o bloco "except" captura a exceção, retornando uma mensagem de erro personalizada
    e reiniciando o loop, pedindo o input novamente ao usuário.

  Bloco else
    Se nenhum "ValueError" for lançado, o código dentro do bloco else será executado, verificando se o número que o usuário inseriu
    é menor que 1 ou maior que o tamanho do DataFrame. Se o número estiver fora desse intervalo, uma mensagem de erro será exibida e o loop será reiniciado.
    Se o número estiver dentro do intervalo, o loop será encerrado utilizando "break" e o valor será salvo na variável loc_row.
"""

while True:
  try:
    loc_row = int(input(f'Insira qual linha deseja pesquisar (1 a {len(biblioteca_DF)}): '))
  except ValueError:
    print(f'[ERROR] - Insira um número inteiro entre 1 a {len(biblioteca_DF)}!')
  else:
    if loc_row < 1 or loc_row > len(biblioteca_DF):
      print(f'[ERROR] - Insira um número inteiro entre 1 a {len(biblioteca_DF)}!')
    else:
      break

print(f'Na {loc_row}ª linha, tem:')
loc_row -= 1 # Diminuindo o valor da variável em 1, porque em programação os índices começam do 0
# Utilizando o método iloc e o índice desejado para cada atributo
print(f'Livro: {biblioteca_DF.iloc[loc_row][0]}, autor: {biblioteca_DF.iloc[loc_row][1]}, ano que foi publicado: {biblioteca_DF.iloc[loc_row][2]}, gênero: {biblioteca_DF.iloc[loc_row][3]} e N° de páginas: {biblioteca_DF.iloc[loc_row][4]}')
print()

Na 1ª linha, tem:
Livro: 1984, autor: George Orwell, ano que foi publicado: 1949, gênero: Distopia e N° de páginas: 328

C:\Users\l50038499\AppData\Local\Temp\ipykernel_16484\4005555173.py:33: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f'Livro: {biblioteca_DF.iloc[loc_row][0]}, autor: {biblioteca_DF.iloc[loc_row][1]}, ano que foi publicado: {biblioteca_DF.iloc[loc_row][2]}, gênero: {biblioteca_DF.iloc[loc_row][3]} e N° de páginas: {biblioteca_DF.iloc[loc_row][4]}')

In [7]:
# ----------------------------------------------------------------------------- SIMPLES ----------------------------------------------------------------------------------------------------

print(biblioteca_DF.loc[1])

Título               O Senhor dos Anéis
Autor                    J.R.R. Tolkien
Ano de Publicação                  1954
Gênero                         Fantasia
Número de Páginas                  1216
Name: 1, dtype: object

# 4 - Verifique se o dataframe está vazio

In [8]:
"""
  Neste código foi utilizada a estrutura condicional "if-else" para verificar uma variável booleana (verdadeira ou falsa).
  Foi utilizado o método "empty" do pandas, que retorna "True" se o DataFrame estiver vazio, ou "False" se não estiver vazio.

  No caso deste código, está sendo verificado se o método "empty" retorna "False". Se retornar "False", será impressa uma mensagem indicando que o DataFrame não está vazio.
  Se retornar "True", será executado o bloco "else", que imprimirá uma mensagem indicando que o DataFrame está vazio.
"""
if biblioteca_DF.empty == False:
   print('O DataFrame não está vazio')
else:
  print('O DataFrame está vazio!')

O DataFrame não está vazio

# 5 - Apresente em tela os 5 primeiros registros da base de dados

In [9]:
# Utilizando a função head() do pandas, imprimindo as 5 primeias linhas e o dataframe de uma forma mais formatada
print('Os 5 primeiros registros são:')
biblioteca_DF.head()

Os 5 primeiros registros são:

,Título,Autor,Ano de Publicação,Gênero,Número de Páginas
0,1984,George Orwell,1949,Distopia,328
1,O Senhor dos Anéis,J.R.R. Tolkien,1954,Fantasia,1216
2,O Apanhador no Campo de Centeio,J.D. Salinger,1951,Ficção,277
3,Cem Anos de Solidão,Gabriel García Márquez,1967,Realismo Mágico,417
4,Dom Quixote,Miguel de Cervantes,1605,Ficção,1072

# 6 - Exclua um item (linha) de sua base de dados

In [10]:
# Criando o dataframe "new_library_exclude" utilizando a função copy() do pandas, para que as alterações feitas não mudem o dataframe original
new_library_exclude = biblioteca_DF.copy()

In [11]:
"""
Linha 1 a 13
  Loop while
    Utilizando o loop while para criar um loop infinito que só será interrompido quando a condição desejada for satisfeita.

Linha 3 a 11
  Bloco try-except
    O bloco "try" tenta executar o input dentro dele. O input é utilizado para solicitar ao usuário a inserção de um valor.
    A função int() tenta converter o valor para um número inteiro. Se não for possível (por exemplo, se for uma string ou um número decimal),
    um "ValueError" será lançado. Para que o programa não feche, o bloco "except" captura a exceção, retornando uma mensagem de erro personalizada
    e reiniciando o loop, pedindo o input novamente ao usuário.

  Bloco else
    Se nenhum "ValueError" for lançado, o código dentro do bloco else será executado.
    Ele verifica se o número que o usuário inseriu é menor que 1 ou maior que o tamanho do DataFrame.
    Se o número estiver fora desse intervalo, uma mensagem de erro será exibida e o loop será reiniciado.
    Se o número estiver dentro do intervalo, o loop será encerrado utilizando "break" e o valor será salvo na variável drop_index.
"""

while True:
    try:
        drop_index = int(input(f'Informe qual linha deseja excluir (1 a {len(new_library_exclude)}): '))
        if drop_index < 1 or drop_index > len(new_library_exclude):
            print(f'[ERROR] - Insira um número inteiro entre 1 a {len(new_library_exclude)}!')
        else:
            break
    except ValueError:
        print(f'Insira um valor inteiro entre 1 e {len(new_library_exclude)}')

"""
Linha 14
  Ajuste do índice para ser baseado em zero
    Diminuindo o valor da variável drop_index em 1, porque em programação os índices geralmente começam do 0.
"""

# Ajustando o índice para ser 0-based
drop_index -= 1

"""
Linha 16 a 25
  Verificação e exclusão da linha
    O bloco if verifica se o DataFrame new_library_exclude não está vazio.
    Se não estiver vazio, verifica se o índice drop_index está presente no DataFrame.
    Se estiver presente, exclui a linha correspondente utilizando o método drop.
    Se a linha for excluída com sucesso, exibe o DataFrame atualizado.
    Se o índice não existir no DataFrame, exibe uma mensagem de erro.
    Se o DataFrame estiver vazio, exibe uma mensagem informando que não será possível realizar a exclusão.
"""

if not new_library_exclude.empty:
    if drop_index in new_library_exclude.index:
        new_library_exclude.drop(drop_index, axis=0, inplace=True)
        print("Linha excluída com sucesso. Novo DataFrame:")
        print(new_library_exclude.head())
    else:
        print(f'O índice {drop_index + 1} não existe no DataFrame.')
else:
    print('Não será possível fazer a exclusão, DataFrame vazio')

Linha excluída com sucesso. Novo DataFrame:
                            Título                   Autor  Ano de Publicação  \
1               O Senhor dos Anéis          J.R.R. Tolkien               1954
2  O Apanhador no Campo de Centeio           J.D. Salinger               1951
3              Cem Anos de Solidão  Gabriel García Márquez               1967
4                      Dom Quixote     Miguel de Cervantes               1605
5            Orgulho e Preconceito             Jane Austen               1813

            Gênero  Número de Páginas
1         Fantasia               1216
2           Ficção                277
3  Realismo Mágico                417
4           Ficção               1072
5          Romance                279

In [12]:
# ----------------------------------------------------------------------------- SIMPLES ----------------------------------------------------------------------------------------------------

biblioteca_simples = biblioteca_DF.copy()
biblioteca_simples.drop(3)
biblioteca_simples.head()

,Título,Autor,Ano de Publicação,Gênero,Número de Páginas
0,1984,George Orwell,1949,Distopia,328
1,O Senhor dos Anéis,J.R.R. Tolkien,1954,Fantasia,1216
2,O Apanhador no Campo de Centeio,J.D. Salinger,1951,Ficção,277
3,Cem Anos de Solidão,Gabriel García Márquez,1967,Realismo Mágico,417
4,Dom Quixote,Miguel de Cervantes,1605,Ficção,1072

In [13]:
# Mostrando o 2° dataframe com a linha excluída.
new_library_exclude.head()

,Título,Autor,Ano de Publicação,Gênero,Número de Páginas
1,O Senhor dos Anéis,J.R.R. Tolkien,1954,Fantasia,1216
2,O Apanhador no Campo de Centeio,J.D. Salinger,1951,Ficção,277
3,Cem Anos de Solidão,Gabriel García Márquez,1967,Realismo Mágico,417
4,Dom Quixote,Miguel de Cervantes,1605,Ficção,1072
5,Orgulho e Preconceito,Jane Austen,1813,Romance,279

# 7 - Adicione um item (linha) na sua base de dados.

In [14]:
new_library_add = biblioteca_DF.copy()

In [15]:
"""
Linha 1 a 12
  Loop while com bloco try-except
    Utilizando o loop while para criar um loop infinito que só será interrompido quando a condição desejada for satisfeita.

Linha 3 a 10
  Bloco try-except
    O bloco "try" tenta executar o input dentro dele. O input é utilizado para solicitar ao usuário a inserção de um valor.
    A função int() tenta converter o valor para um número inteiro. Se não for possível (por exemplo, se for uma string ou um número decimal),
    um "ValueError" será lançado. Para que o programa não feche, o bloco "except" captura a exceção, retornando uma mensagem de erro personalizada
    e reiniciando o loop, pedindo o input novamente ao usuário.

  Bloco else
    Se nenhum "ValueError" for lançado, o código dentro do bloco else será executado. Ele verifica se o número que o usuário inseriu
    é menor que 1. Se o número for menor que 1, uma mensagem de erro será exibida e o loop será reiniciado.
    Se o número for maior ou igual a 1, o loop será encerrado utilizando "break" e o valor será salvo na variável new_book.
"""

while True:
  try:
    new_book = int(input('Informe quantos livros deseja adicionar: '))
    if new_book < 1:
      print('Insira um número inteiro, maior que 1!')
    else:
      break
  except ValueError:
    print('Insira um número inteiro, maior que 1!')

"""
Linha 14 a 23
  Loop for para adicionar novos livros
    Utilizando o loop for para iterar de 0 até ne67w_book - 1, solicitando informações sobre cada novo livro a ser adicionado.
    Para cada iteração, o usuário é solicitado a inserir o título, autor, ano de publicação, gênero e número de páginas do livro.
    Esses dados são então adicionados ao DataFrame new_library_add utilizando o método loc.
    Uma mensagem de confirmação é exibida após cada livro ser adicionado, mostrando os detalhes do livro adicionado.
"""

for book in range(new_book):
  new_title = input(f'Digite o título do {book + 1}° livro: ')
  new_author = input(f'Digite o autor do {book + 1}° livro: ')
  new_year = input(f'Digite o ano de publicação do {book + 1}° livro: ')
  new_genre = input(f'Digite o gênero do {book + 1}° livro: ')
  new_pages = input(f'Digite o número de páginas do {book + 1}° livro: ')
  new_library_add.loc[len(new_library_add)] = [new_title, new_author, new_year, new_genre, new_pages]
  print(f'Livro: {new_title}, Autor: {new_author}, Ano de publicação: {new_year}, Gênero: {new_genre}, Número de páginas: {new_pages}')

Insira um número inteiro, maior que 1!
Insira um número inteiro, maior que 1!
Insira um número inteiro, maior que 1!
Insira um número inteiro, maior que 1!
Livro: a, Autor: b, Ano de publicação: c, Gênero: d, Número de páginas: e

# 8 - Transponha a coluna para a linha em sua base de dados

In [16]:
"""
  Transposição do DataFrame
    Utilizando o método .T para transpor o DataFrame biblioteca_DF. A transposição inverte linhas e colunas.
"""

dataframe_transposed = biblioteca_DF.T

"""
  Impressão da mensagem e exibição do DataFrame transposto
    Imprimindo uma mensagem indicando que o DataFrame foi transposto.
    Utilizando o método .head() para exibir as primeiras linhas do DataFrame transposto.
"""

print('O data frame transposto fica:')
dataframe_transposed.head()

O data frame transposto fica:

,0,1,2,3,4,5
Título,1984,O Senhor dos Anéis,O Apanhador no Campo de Centeio,Cem Anos de Solidão,Dom Quixote,Orgulho e Preconceito
Autor,George Orwell,J.R.R. Tolkien,J.D. Salinger,Gabriel García Márquez,Miguel de Cervantes,Jane Austen
Ano de Publicação,1949,1954,1951,1967,1605,1813
Gênero,Distopia,Fantasia,Ficção,Realismo Mágico,Ficção,Romance
Número de Páginas,328,1216,277,417,1072,279

# 9 - Apresente em tela somente a 1ª e a 2ª coluna (rótulo) da base de dados.

In [17]:
"""
  Seleção de colunas específicas do DataFrame
    Utilizando a indexação com colchetes duplos para selecionar as colunas 'Título' e 'Ano de Publicação' do DataFrame biblioteca_DF.
    O método .head() é utilizado para exibir as primeiras linhas dessas colunas selecionadas.
"""

biblioteca_DF[['Título', 'Ano de Publicação']].head()

                            Título  Ano de Publicação
0                             1984               1949
1               O Senhor dos Anéis               1954
2  O Apanhador no Campo de Centeio               1951
3              Cem Anos de Solidão               1967
4                      Dom Quixote               1605

# 10 - Informe como foi desenvolvido o Projeto

In [18]:
"""
O projeto foi criado com a biblioteca Pandas do Python, utilizando DataFrames. 
O DataFrame em questão, chamado "biblioteca_DF", contém informações sobre livros dos quais eu já lei ou conheço por nome.

Utilizei o google coolab, para codar e utilizei o Github Desktop para comitar o arquivo.

Dificultei um pouco os exercícios com o intuito de proporcionar uma experiência de aprendizado mais completa e duradoura.

Durante o desenvolvimento do projeto, recorri ao auxílio do ChatGPT e do Germini para esclarecer dúvidas e tornar minhas anotações mais fluidas e compreensíveis
"""

'\nO projeto foi criado com a biblioteca Pandas do Python, utilizando DataFrames. \nO DataFrame em questão, chamado "biblioteca_DF", contém informações sobre livros dos quais eu já lei ou conheço por nome.\n\nUtilizei o google coolab, para codar e utilizei o Github Desktop para comitar o arquivo.\n\nDificultei um pouco os exercícios com o intuito de proporcionar uma experiência de aprendizado mais completa e duradoura.\n\nDurante o desenvolvimento do projeto, recorri ao auxílio do ChatGPT e do Germini para esclarecer dúvidas e tornar minhas anotações mais fluidas e compreensíveis\n'

In [19]:
display(biblioteca_DF)

,Título,Autor,Ano de Publicação,Gênero,Número de Páginas
0,1984,George Orwell,1949,Distopia,328
1,O Senhor dos Anéis,J.R.R. Tolkien,1954,Fantasia,1216
2,O Apanhador no Campo de Centeio,J.D. Salinger,1951,Ficção,277
3,Cem Anos de Solidão,Gabriel García Márquez,1967,Realismo Mágico,417
4,Dom Quixote,Miguel de Cervantes,1605,Ficção,1072
5,Orgulho e Preconceito,Jane Austen,1813,Romance,279

In [20]:
display(new_library_add)

,Título,Autor,Ano de Publicação,Gênero,Número de Páginas
0,1984,George Orwell,1949,Distopia,328
1,O Senhor dos Anéis,J.R.R. Tolkien,1954,Fantasia,1216
2,O Apanhador no Campo de Centeio,J.D. Salinger,1951,Ficção,277
3,Cem Anos de Solidão,Gabriel García Márquez,1967,Realismo Mágico,417
4,Dom Quixote,Miguel de Cervantes,1605,Ficção,1072
5,Orgulho e Preconceito,Jane Austen,1813,Romance,279
6,a,b,c,d,e